{% include "header.html" %}
</html>
<head>
</head>
<body>
<div class="container-fluid bg-image" style="background-image: url('static/images/bg.jpeg');height: 100vh;">
    <div class="container">
      <div
        class="row align-items-center"
        style="min-height: 100vh">
        <div class="col-md-12">
          <h1 class="text-white text-center ">Hi, I'm Zarafsha</h1>
            <p class="text-center"><img class='text' src="/static/images/profile.jpeg" style="width:20em;"></p>
            <h4 class="text-white text-center">Welcome to my Page.</h4>
            <div class="card">
              <div class="card-body">
                  <p class="text-center"><strong>Aspiring python developer with beginner experience with Front-end Web Development, Automation, Webscraping, and Data Science and tools such as Selenium Web Driver, Flask, NumPy, Plotly, and APIs.</strong> </p>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>




</body>
</html>

{% include "footer.html" %}