{% include 'header.html' %}
<html lang="en">
<head>
</head>
<body>
<div class="mt-5 container-fluid bg-image" style="background-image: url('static/images/bg.jpeg');height: 100vh;">
    <div class="container">
      <div
        class="row align-items-center"
        style="min-height: 100vh">
        <div class="col-lg">
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">My Projects</h5>
                        <div class="card-text">
                            <p>Link to Github Page: <a href="https://github.com/zarafsha-u">https://github.com/zarafsha-u</a> </p>
                            <ul>
                                <li><a href="https://github.com/zarafsha-u/CoffeeShopRewiew-Site.git">Coffee Shop Review Website</a>
                                    <p class="m-0">Website that lists cafes with their location, wifi power, and an overall rating.</p>
                                <p>Cafes can be searched by location and new cafes can be added to the website.</p>

                                </li>

                                <li><a href="https://github.com/zarafsha-u/Morse-Code-Converter.git">Text to Morse Code Converter.</a>
                                    <p>A text-based python program to convert strings to morse code.</p>
                                </li>

                                <li><a href="https://github.com/zarafsha-u/Professional-Portfolio-Wesbite.git">Personal Portfolio Website </a>(What you are looking at currently!)
                                <p>Website to present my projects and skills. </p>
                                </li>

                                <li><a href="https://github.com/zarafsha-u/Typing-Speed-Test.git">Typing Speed Test</a>
                                <p>A Tkinter GUI desktop application that tests your typing speed.</p>
                                </li>

                                <li><a href="https://github.com/zarafsha-u/PDF-to-Audiobook-Converter.git">PDF to Audiobook Converter</a>
                                <p>Python program that takes a PDF file and converts it into speech.</p>
                                </li>

                                <li><a href="https://github.com/zarafsha-u/Automated-FormFilling.git">Automated Form Filling Program  </a>
                                <p>A python program that automates filling out a google form. </p>
                                </li>

                                <li><a href="https://github.com/zarafsha-u/Flight-Webscraper.git">Flight Information Webscraper </a>
                                <p>Web Scraper that collects data from google-flights website for flight information. </p>
                                </li>

                                <li><a href="https://github.com/zarafsha-u/Img-Color-Palette-Generator.git">Image Color Palette Generator </a>
                                <p>Website that displays the most common colors in an uploaded image.</p>
                                </li>


                                <li><a href="https://github.com/zarafsha-u/SpaceRace-Analysis-Visualization.git">Space Race Analysis and Visualization</a>
                                    <p>Uses space mission data from 1957 onwards to analyze and visualize trends overtime.</p>
                                </li>





                            </ul>

                        </div>
                      </form>
                      </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


</body>
</html>